# Copy this file to secrets.toml for local development.
# secrets.toml is in .gitignore — never commit it.

[mongo]
uri = "mongodb+srv://salasarservices:HBFxoUWFM4njaQ5J@cluster0.anurx55.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
db_name = "salasar_ahmedabad"

[credentials]
[credentials.admin]
password_hash = "$2b$12$plkNt849T5JRlhT6l7UWoeXs7WnsMfAepdWX36V8dJPwsy/inxsQK"
role = "admin"

[credentials.viewer]
password_hash = "$2b$12$IKhRCm1UKzzkji8t3brW.eJOoIdW.4ILe387Wd53UcJcjqD8C/Xmq"
role = "viewer"
